[Desktop Entry]
Name=Cherry Studio
Exec='/tmp/.mount_CherryiTjz7x/Cherry Studio' %U
Terminal=false
Type=Application
MimeType=x-scheme-handler/cherrystudio;
NoDisplay=true
