#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Burp Suite Professional
Exec="/home/pullautumn/BurpSuitePro/BurpSuitePro" %U
MimeType=application/x-extension-burp;x-scheme-handler/burp;
Icon=/home/pullautumn/BurpSuitePro/.install4j/BurpSuitePro.png
Categories=Application;
StartupWMClass=install4j-burp-StartBurp
